<!DOCTYPE html>
<html lagn="ko" xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="footerFragment">
  <footer>
    <div class="footline_wrap">
      <div class="foot_txt">
        <p>상호명 : CodeInfo &nbsp; 사업장소재지 : 화성 갈끄니까아ㅏ &nbsp; 팩스 : 070-0000-0000
          &nbsp; 사업자등록번호 : 000-00-00000 <br>고객센터 : 1234-5678 &nbsp; 상담시간 00:00-24:00 / OFF-TIME 12:00-13:00
          (공휴일 휴무)
          이메일 : HELLO@CodeInfo.CO.KR <br>대표이사 : 이oo 개인정보책임자 : 이oo <br>
          CodeInfo 에서 중계되는 모든 상품은 각 업체에서 책임을 지고 있습니다.
        </p>
        <div class="icons">
          <ul class="sns_icon">
            <li><a href="https://www.facebook.com/"><i class="fab fa-facebook-square fa-3x"></i></a></li>
            <li><a href="https://www.instagram.com/"><i class="fab fa-instagram-square fa-3x"></i></a></li>
            <li><a href="https://www.youtube.com/"><i class="fab fa-youtube-square fa-3x"></i></a></li>
          </ul>
        </div>
      </div>
      <div class="end">
        <p><a href="#">개인정보처리방침</a>&nbsp;|&nbsp;<a href="#">이용약관</a>
          &nbsp;|&nbsp;<a href="#">채용정보</a>&nbsp;|&nbsp;<a href="#">전자우편수집거부</a></p>
        <p>COPYRIGHT 2021. WHICH MOVIE ALL RIGHTS RESERVED.</p>
      </div>
    </div>
  </footer>
</th:block>
</html>