<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="navFragment">
    <nav class="navbar">
        <div class="navbar__inner">
            <div class="navbar__ul">
                <a class="navbar__logo" href="/"><i class="fas fa-laptop-code fa-2x"></i></a>
                <ul class="navbar__items">
                    <li class="navbar__item">
                        <a class="navbar__board__link" href="/">게시판</a>
                    </li>
                    <li class="navbar__item">
                        <a class="navbar__upload_link" href="/post">글 등록</a>
                    </li>
                </ul>
            </div>
            <ul class="navbar__items">
                <li class="navbar__item">
                    <a class="navbar__board__login" href="/login">로그인</a>
                </li>
            </ul>
        </div>
    </nav>
</th:block>
</html>