<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="navFragment">
    <nav class="navbar">
        <div class="navbar__inner">
            <div class="navbar__ul">
                <a class="navbar__logo" href="/"><i class="fas fa-laptop-code fa-2x"></i></a>
                <ul class="navbar__items">
                    <li class="navbar__item">
                        <a class="navbar__board__link" href="/">게시판</a>
                    </li>
                    <li class="navbar__item">
                        <a class="navbar__upload_link" href="/upload">글 등록</a>
                    </li>
                </ul>
            </div>
            <ul class="navbar__items">
                <li class="navbar__item">
                    <span id="JSusername" th:text="${username}"></span>
                </li>
                <li class="navbar__item" th:if="${username!= null}">
                    <form id="my_form" method="post" action="/user/logout">
                        <a id="logout-text" href="javascript:{}" onclick="document.getElementById('my_form').submit();">로그아웃</a>
                    </form>
                </li>
                <li class="navbar__item" th:if="${username == null}">
                    <a class="navbar__board__login" href="/user/login">로그인</a>
                </li>
                <li class="navbar__item" th:if="${username == null}">
                    <a class="navbar__board__join" href="/user/join">회원가입</a>
                </li>
            </ul>
        </div>
    </nav>
</th:block>
</html>