<!DOCTYPE html>
<html lagn="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<!-- 공통으로 쓰이는 script파일을넣는다.-->
<th:block th:fragment="scriptFragment">

    <!--    메인 자바스크립트   -->
    <script defer th:src="@{/js/board.js}"></script>
    <script defer th:src="@{/js/boardPaging.js}"></script>

    <script defer th:src="@{/js/userJoin.js}"></script>
    <script defer th:src="@{/js/userLogin.js}"></script>
    <script defer th:src="@{/js/comment.js}"></script>
</th:block>
</html>