<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/default">
<th:block layout:fragment="content">
    <div class="upload">
        <div class="upload-container">
            <form class="upload__form" th:action="@{/detail/__${board.postId}__}" method = "post">
                <input type="hidden" name="_method" value="PUT">
                <div class="upload__input">
                    <div>
                        <input th:if="${board.writer == username}" type="checkbox" id="update-checkbox" name="scales">
                        <label th:if="${board.writer == username}" for="update-checkbox">수정하기</label>
                    </div>
                    <div class="form-title">
                        <input type="text" class="upload-title" id="title"
                               name = "title" placeholder="제목 쓰기" th:value="${board.title}"
                               minlength="1" maxlength="25" readonly>
                    </div>
                    <div class="form-writer">
                        <span class="upload-writer" id="writer" th:text="${board.writer}">
                            작성자
                        </span>
                    </div>
                    <div class="form-content">
                        <textarea type="text" class="upload-content" id="content" name="content"
                                  rows="5" cols="33" th:text="${board.content}" readonly></textarea>
                    </div>
                </div>
                <div class="form__btn">
                    <button th:if="${board.writer == username}"
                            type="submit" class="upload-btn__write">수 정</button>
                    <a th:if="${board.writer == username}"
                            class="upload-btn__cancel" href="/" style="color: white;" >취 소</a>
                </div>
            </form>
        </div>

        <ul class="comments">
            <li class="comment">
                <div class="meta">
                    <a id="JScomment-add" class="comment-submit">입력</a>
                </div>
                <textarea id="JScomment-textarea" type="text" class="comment-textarea"
                          placeholder="댓글을 입력해주세요!"
                          maxlength="385"></textarea>
            </li>
            <li class="comment" th:each="comment: ${comments}">
                <div class="meta">
                    <span class="comment-writer"
                          th:text="${comment.writer}"></span>
                    <span class="comment-time"
                          th:text="${#temporals.format(comment.modifiedAt, '| yyyy-MM-dd HH:mm:ss')}" ></span>

                    <div class="comment-setting">
                        <a th:if="${comment.writer == username}"
                           class="comment-update">수정</a>
                        <a th:if="${comment.writer == username}"
                           class="comment-delete"
                           th:onclick="|javascript:deleteComment('${comment.commentId}')|">삭제</a>
                    </div>
                </div>
                <div th:text="${comment.content}" class="comment-body"></div>
            </li>
        </ul>
    </div>
</th:block>
</html>