<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/default">

<th:block layout:fragment="content">

  <div class="board">
    <div class="board-container">
      <div class="board__post" th:each="board : ${boardList}">
        <div class="board__items">
          <div class="board__main">
            <div class="board__num">
              <span th:text="${board.postId}"></span>
            </div>
            <div class="board__content">
              <div class="board__title">
                <a th:href="@{/detail/__${board.postId}__}" th:text="${board.title}">게시물 제목</a>
              </div>
              <div class="board__sub">
                <div class="board__views">
                  <span>조회수 </span>
                  <span th:text="${board.views} + '회'">조회수</span>
                </div>
                <div class="board__writer">
                    <span>작성자: </span>
                    <span th:text="${board.writer}">작성자</span>
                </div>
                <div>
                  <span>날짜: </span>
                  <span th:text="${#temporals.format(board.modifiedAt, 'yyyy-MM-dd HH:mm:ss')}">날짜</span>
                </div>
              </div>
            </div>
          </div>
          <div class="board__delete">
            <button th:onclick="|javascript:deletePost('${board.postId}')|">
              <i class="far fa-trash-alt fa-2x"></i>
            </button>
          </div>
        </div>
      </div>
      <div class="form-pagination">
            <a id="JSprevpage-btn" class="prevpage-btn" th:href="@{/__${prevPage}__}">
              <i class="fas fa-arrow-left"></i>
              Prev Page
            </a>
            <a id="JSnextpage-btn" class="nextpage-btn" th:href="@{/__${nextPage}__}">
              Next Page
              <i class="fas fa-arrow-right"></i>
            </a>
        </div>
      </div>
    </div>
  </div>

</th:block>
</html>