<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/default">
<th:block layout:fragment="content">

<h1>게시판</h1>
<table>
  <thead>
  <tr>
    <th>번호</th>
    <th>제목</th>
    <th>작성자</th>
    <th>날짜</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="board : ${boardList}">
    <td><span id="board-id" th:text="${board.no}"></span></td>
    <td><span th:text="${board.title}"></span></td>
    <td><span th:text="${board.writer}"></span></td>
    <td><span th:text="${#temporals.format(board.modifiedAt, 'yyyy-MM-dd HH:mm:ss')}"></span></td>
    <td><button th:onclick="|javascript:deletePost('${board.no}')|">삭제</button></td>
  </tr>
  </tbody>
</table>

</th:block>
</html>