<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/default">
<th:block layout:fragment="content">
    <form class="user_form" action="/user/join" method="POST"  th:object="${form}" onsubmit="return checkForm();">
        <div class="main_con_form">
            <div class="form_inner">
                <div class="form_inner-title">
                    <h1>회원가입</h1>
                </div>
                    <ul class="form_list_input">
                    <li>
                        <input type="text" id="nickname" name="nickname"
                               minlength="3" maxlength="15" class="nickname"  placeholder="닉네임"
                               th:field="*{nickname}"
                               th:class="${#fields.hasErrors('nickname')}? 'form-control fieldError' : 'form-control'">
                    </li>
                    <div class="check-span">
                        <span th:if="${#fields.hasErrors('nickname')}" th:errors="*{nickname}"
                              id="join_nickname_check"></span>
                        <span id="nickname_check"></span>
                    </div>

                    <li>
                        <input type="password" id="password" name="password"
                               minlength="4" maxlength="15" placeholder="비밀번호">
                    </li>
                    <div class="check-span">
                        <span id="join_pw_check"></span>
                    </div>

                    <li>
                        <input type="password" id="password2" name="password2"
                               minlength="4" maxlength="15" placeholder="비밀번호 확인">
                    </li>
                    <div class="check-span">
                        <span id="join_pw2_check"></span>
                    </div>
                </ul>
                <div class="enter_btn">
                    <button>가입 하기</button>
                </div>
            </div>
        </div>
    </form>
</th:block>
</html>