<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/default">
<th:block layout:fragment="content">
<div class="login">
    <div class="main_con_form">
        <div class="form_inner">
            <span><h1>LOREM IPSUM</h1></span>
            <div>
                <ul class="form_list_input">
                    <li><input type="text" id="name_input" name="name_input" placeholder="input username"></li>
                    <li><input type="email" id="email_input" name="email_input" placeholder="input email"></li>
                    <li><input type="password" id="pw_input" name="pw_input" placeholder="input password"></li>
                    <li><span>Alias ipsa labore veritatis quos</span></li>
                </ul>
            </div>
            <div class="enter_btn"><button>Include</button></div>
        </div>
    </div>

</div>


</th:block>
</html>