<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/default">
<th:block layout:fragment="content">
    <form action="/user/login" method="post" class="user_form">
        <div class="main_con_form">
            <div class="form_inner">
                <div class="form_inner-title">
                    <h1 class="form_inner-title">로그인</h1>
                </div>
                    <ul class="form_list_input">
                        <li>
                            <input type="text" id="nickname" name="username"
                                   minlength="3" maxlength="15" placeholder="닉네임">
                        </li>
                        <div class="check-span">
                            <span id="login_nickname_check"></span>
                        </div>

                        <li>
                            <input type="password" id="pw_input" name="password"
                                   minlength="4" maxlength="15" placeholder="비밀번호">
                        </li>
                        <div class="check-span">
                            <span id="login_password_check"></span>
                        </div>
                        <div id="login-failed" style="display:none" class="alert alert-danger" role="alert">
                            닉네임 또는 패스워드를 확인해주세요.
                        </div>
                    </ul>
                <div class="enter_btn">
                    <button>로그인</button>
                    <a onclick="location.href='https://kauth.kakao.com/oauth/authorize?client_id=dc3057eec4b237169419d77675015bb0&redirect_uri=http://3.38.93.241/user/kakao/callback&response_type=code'">
                        <i class="fas fa-comment fa-2x"></i>
                    </a>
                </div>
            </div>
        </div>
    </form>
</th:block>
</html>