.board {
    height: 100vh;
}

.board-container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}


.board__post {
    width: 40%;
    height: 7vh;
    margin-bottom: 3vh;
    border-radius: 13px;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px,
    rgba(0, 0, 0, 0.07) 0px 2px 4px,
    rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px,
    rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
}

.board__items {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    width: 90%;
    padding: 0 1vw;
}

.board__main {
    display: flex;
    width: 100%
}

.board__num  {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2vw;
    height: 4vh;
    border: solid 2px black;
    border-radius: 8px;
    margin-right: 15px;
    font-size: 18px;
}

.board__num span {
    margin: auto 0;
}

.board__content {
    width: 100%;
}

.board__title {
    font-size: 22px;
    font-weight: 900;
}

.board__sub {
    display: flex;
}

.board__writer {
    font-weight: bold;
}

.board__writer span:last-child {
    margin-right: 10px;
    color: orange;
}


.board__delete button {
    width: 2.5vw;
    height: 5vh;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.board__delete button:hover {
    color: tomato;
}

.board__views {
    margin-right: 5px;
    font-weight: bold;
}

.form-pagination {
    font-weight: bold;
    display: flex;
    justify-content: center;
    width: 50%;
}

.prevpage-btn,
.nextpage-btn {
    display: none;
}


.prevpage-btn {
    margin-right: 3vw;
}


