.user_form {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}


.main_con_form {
    text-align: left;
    padding: 40px;
    background-color: orange;
    border-radius: 12px;
    height: 29vh;
    width: 16vw;
}
.form_inner-title {
    color: #efefef;
    margin-bottom: 1vh;
    font-size: 28px;
    font-weight: bold;
}
.form_inner {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.form_list_input {
    width: 15vw;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.form_list_input li h1 {
    font-size: 15px;
    font-weight: bold;
}

.check-span {
    height: 15px;
}

/***** INPUT *****/
.form_list_input input {
    padding: 0 1em;
    border: none;
    height: 4vh;
    width: 100%;
    border-radius: 30px;
    margin-bottom: 5px;
}
.form_list_input input:focus {
    outline: none;
}
.form_list_input input::placeholder {
    font-weight: 300;
    color: #aaa;
}
.form_list_input label {
    float: left;
    display: none;
}
.enter_btn {
    width: 100%;
    height: auto;
    margin-top: 10px;
}
.enter_btn button {
    overflow: hidden;
    width: 130px;
    height: 40px;
    color: #efefef;
    background: #e96c7c;
    border-radius: 20px;
    border: none;
}